---
export const prerender = true;

import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Quiz from "../../components/Quiz.astro";
---
<Base title="BeefFruit Quizzes" description="Quick chaotic quizzes to mildly confuse your friends." canonicalUrl="https://beeffruit.com/quizzes">
  <Fragment slot="header"><Header /></Fragment>
  <section class="grid gap-12">
    <Quiz question="Is Lasagna A Fruit?" answers={["Yes","No","It Depends"]} correct={2} />
    <Quiz question="Pick A Vibe" answers={["Chaotic","Mystic","Shiny"]} correct={0} />
  </section>
  <Fragment slot="footer"><Footer /></Fragment>
</Base>