# dependencies
node_modules/

# build output
.dist/
dist/

# logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.vscode/
.idea/
.DS_Store

# local folders not part of this site
/aoc2024/
/celestial-corot/
.astro/
